<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <button class="btn btn-primary" (click)="filterByDate(date)">Filtrar desde:</button>
        <input type="date" name="date" [(ngModel)]="date" placeholder="Filtrar desde"><br><br>
        Fecha de creación</th>
      <th scope="col">ID</th>
      <th scope="col">Total $</th>
      <th scope="col">Dirección</th>
      <th scope="col">Products</th>
    </tr>
  </thead>
  <tbody>

  <tr *ngFor="let order of ordersFilter; let i = index">
    <td>{{order.date }}</td>
    <td>{{order.orderId}}</td>
    <td>{{order.price}}</td>
    <td>{{order.address}}</td>
    <td>
        <ul *ngFor="let product of order.products" class="list-group " id="products">
            <li class="list-group-item">{{product.name}}</li>
        </ul>
    </td>
  </tr>



</tbody>
</table>
