<h1>Clientes</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Orden</th>
      <th scope="col">Productos</th>
      <th scope="col">Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients, let i = index">
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
      <td>
        <div>
            <i class="fas fa-plus text-success" (click)="goToOrder(client)"></i>
            <i class="fas fa-eye text-secondary" (click)="viewOrders(client)"></i>
        </div>
      </td>
      <td>
        <i class="fas fa-eye text-secondary" (click)="viewProducts(client)"></i>
      </td>
      <td>
        <div>
          <i class="far fa-edit text-primary" (click)="edit(client, index)"></i>
          <i class="far fa-trash-alt text-danger" (click)="delete(client)"></i>
        </div>
    </td>
    </tr>
  </tbody>
</table>
