<br>
<h1>Clientes</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients, let i = index">
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
      <td>
        <div>
            <button class="btn btn-primary" (click)="goToOrder(client)">Ordenar</button>
            <button class="btn btn-secondary" (click)="viewOrders(client)">Ver ordenes</button>
            <button class="btn btn-secondary" (click)="viewProducts(client)">Ver productos</button>
            <button class="btn btn-secondary" (click)="edit(client)">Editar cliente</button>
            <button class="btn btn-danger" (click)="delete(client, i)">Eliminar cliente</button>
            <i class="far fa-edit text-primary" (click)="edit(client, index)"></i>
            <i class="far fa-trash-alt text-danger" (click)="delete(client)"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
