<body class="bg-light">
    <div class="container">
      <div class="text-center">
        <h2>Bienvenido {{client.name}}</h2>
        <p class="lead">Modifica tus productos.</p>
      </div>
      <div class="row">
        <div class="col-md-6 order-md-3 mb-4">
          <div *ngIf="!noProductRepeat" class="alert alert-danger"><strong>{{message}}</strong></div>
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Sus productos</span>
            <span class="badge badge-secondary badge-pill">{{client.products.length}}</span>
          </h4>
          <ul class="list-group mb-3" >
            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of client.products;let i = index">
              <div>
                <h6 class="my-0">{{product.name}}</h6>
              </div>
              <span class="text-muted">{{product.price}}</span>
              <i class="far fa-trash-alt text-danger" (click)="deleteProduct(client, product, i)"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-6 order-md-3 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Agregar producto</span>
            <span class="badge badge-secondary badge-pill">{{products.length}}</span>
          </h4>
          <ul class="list-group mb-3" >
            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
              <div>
                <h6 class="my-0">{{product.name}}</h6>
              </div>
              <span class="text-muted">{{product.price}}</span>
              <i class="fas fa-plus text-success" (click)="addProduct(product)"></i>
            </li>
          </ul>
        </div>
    </div>
</div>
