<br>
<h1>Productos disponibles</h1>
<br>
<div *ngIf="!noProductRepeat" class="alert alert-danger"><strong>{{message}}</strong></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of client.products;let i = index">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <button class="btn btn-danger" (click)="deleteProduct(client, product, i)">Eliminar</button>
    </tr>
  </tbody>

<h1>Agregar productos</h1>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <button class="btn btn-primary" (click)="addProduct(product)">Agregar</button>
    </tr>
  </tbody>

</table>
